body {
  font-family: Arial, sans-serif;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.app {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 20px;
}

.header {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}

.forecast-toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forecast-toggle-button:hover {
  background-color: #ddd;
}

.current-weather, .forecast-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weather-card {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.weather-card.blue-theme {
  background: linear-gradient(180deg, #18cafc, #4f54e7, #480797);
  color: white;
}

.weather-card.green-theme {
  background: linear-gradient(180deg, #18cafc, #4f54e7, #480797);
  color: white;
}

.weather-card.red-theme {
  background: linear-gradient(180deg, #18cafc, #4f54e7, #480797);
  color: white;
}

.date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
}

.temp {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.humidity, .windspeed {
  font-size: 14px;
}

